@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");
@import "tailwindcss";

:root {
  --primary: #0c0117;
  --primary-text: #ffffff;
}

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --color-primary: var(--primary);

  --color-white: #ffffff;

  --color-blue-400: #5bdbfd;
  --color-blue-500: #13b8ff;

  --color-purple-200: #9c9eff;
  --color-purple-300: #a75df3;

  --color-purple-500: #58448e;
  --color-purple-600: #0c0117;

  --color-pink-500: #ff4a77;

  --color-gray-200: #c5c5c5;

  --inset-shadow-purple: inset 4px 6px 10px 4px rgba(167, 93, 243, 0.2);

  --background-image-gradient-primary: linear-gradient(
    126.34deg,
    #5bdbfd 16.95%,
    #7375ff 79.54%,
    #df93ff 140.99%,
    #e56f8c 172.25%
  );

  --background-image-gradient-secondary: linear-gradient(
    89.75deg,
    #5bdbfd 0.26%,
    #7375ff 51.07%,
    #df93ff 100.96%,
    #e56f8c 126.34%
  );

  --background-image-gradient-purple: linear-gradient(
    25deg,
    rgba(23, 65, 95, 1) 5%,
    rgba(12, 1, 23, 1) 37%,
    rgba(23, 8, 39, 1) 67%,
    rgba(66, 33, 100, 1) 96%,
    rgba(94, 50, 140, 1) 100%
  );

  --background-image-gradient-purple-secondary: linear-gradient(
    325deg,
    rgba(72, 97, 166, 1) 5%,
    rgba(12, 0, 20, 1) 41%,
    rgba(28, 19, 58, 1) 78%,
    rgba(107, 89, 181, 1) 100%
  );

  --background-image-gradient-text: linear-gradient(
    90.63deg,
    #90e8ff 0.44%,
    #9c9eff 69.99%,
    #e3a1ff 138.27%,
    #e56f8c 173.01%
  );

  --background-image-gradient-bestseller: linear-gradient(
    126.34deg,
    #5bdbfd 16.95%,
    #7375ff 79.54%,
    #df93ff 140.99%,
    #e56f8c 172.25%
  );

  --background-image-gradient-action: linear-gradient(
    90deg,
    rgba(12, 1, 23, 1) 58%,
    rgba(179, 129, 242, 1) 100%
  );
}

@layer utilities {
  .layout-container {
    @apply w-full max-w-[393px] sm:max-w-[1280px] px-10 lg:px-20;
  }

  .corner-glow {
    @apply absolute rounded-full bg-gradient-primary blur-[80.63px];
    width: 315px;
    height: 282px;
    z-index: 0;
  }

  .corner-glow.top-left {
    top: -10;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .corner-glow.bottom-right {
    bottom: 30;
    right: 0;
    transform: translate(50%, 50%);
  }
}

body {
  background: var(--primary);
  color: var(--primary-text);
  font-family: var(--font-raleway);
  line-height: 1;
  letter-spacing: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.15;
  letter-spacing: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
