@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");
@import "tailwindcss";

:root {
  --primary: #0c0117;
  --primary-text: #ffffff;
}

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --color-primary: var(--primary);

  --color-white: #ffffff;

  --color-blue-400: #5bdbfd;
  --color-blue-500: #13b8ff;

  --color-purple-200: #9c9eff;
  --color-purple-300: #a75df3;

  --color-purple-600: #0c0117;

  --color-pink-500: #ff4a77;

  --color-gray-200: #c5c5c5;

  --background-image-gradient-primary: linear-gradient(
    150deg,
    rgba(91, 219, 253, 1) 2%,
    rgba(115, 117, 255, 1) 65%,
    rgba(157, 129, 255, 1) 86%,
    rgba(187, 137, 255, 1) 100%
  );

  --background-image-gradient-secondary: linear-gradient(
    95deg,
    rgba(91, 219, 253, 1) 2%,
    rgba(115, 117, 255, 1) 36%,
    rgba(149, 126, 255, 1) 69%,
    rgba(198, 140, 255, 1) 83%,
    rgba(223, 147, 255, 1) 100%,
    rgba(229, 111, 140, 1) 100%
  );

  --background-image-gradient-purple: linear-gradient(
    25deg,
    rgba(23, 65, 95, 1) 5%,
    rgba(12, 1, 23, 1) 37%,
    rgba(23, 8, 39, 1) 67%,
    rgba(66, 33, 100, 1) 96%,
    rgba(94, 50, 140, 1) 100%
  );

  --background-image-gradient-text: linear-gradient(
    90deg,
    rgba(144, 232, 255, 1) 20%,
    rgba(156, 158, 255, 1) 66%
  );
}

@layer utilities {
  .layout-container {
    @apply w-full max-w-[393px] sm:max-w-[1280px] px-10 lg:px-20;
  }
}

body {
  background: var(--primary);
  color: var(--primary-text);
  font-family: var(--font-raleway);
  line-height: 1;
  letter-spacing: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.15;
  letter-spacing: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
